In [1]:
import pandas as pd

data = pd.read_parquet("../fastapi_app/river_data.parquet")
data.columns

Index(['transaction_id', 'user_id', 'timestamp', 'amount', 'currency',
       'merchant_id', 'product_category', 'transaction_type', 'payment_method',
       'location', 'ip_address', 'device_info', 'user_agent',
       'account_age_days', 'cvv_provided', 'billing_address_match',
       'is_fraud'],
      dtype='object')

In [10]:
pd.json_normalize(data["device_info"])

       browser       os
0       Safari  Windows
1         Edge  Android
2       Chrome  Android
3       Safari    macOS
4         Edge    Linux
...        ...      ...
44175     Edge  Windows
44176  Firefox    Other
44177   Safari    Linux
44178    Other  Windows
44179   Safari    macOS

[44180 rows x 2 columns]

In [14]:
import datetime

datetime.datetime.strptime(
    datetime.datetime.now(datetime.timezone.utc).isoformat(),
    "%Y-%m-%dT%H:%M:%S.%f%z")

datetime.datetime(2025, 4, 23, 20, 23, 12, 507886, tzinfo=datetime.timezone.utc)